<!-- 
<div class="row mb-5 mt-5">
    <div class="col-md-4 col-sm-12">
        <img src="/assets/images/main-banner.jpg" class="img-fluid" alt="Main banner for downloadfreerecipe"/>
    </div>
    <div class="col-md-8 col-sm-12 my-auto">
        <h4 class="subheading">Delicious, Gourmet recipes just for you.</h4>
        <p class="text-muted">We've colaborated with Chef Dan and team to bring world class recipies that are easy to cook with easy to find ingredients. We've written the recipies with a lot of love. Give it a try today!</p>
    </div>
</div> -->